:root {
    --custom-grid-template-columns: repeat(16, 1fr);
    --square-color: rgb(0, 0, 0);
}

.grid-container {
    display: grid;
    grid-template-columns: var(--custom-grid-template-columns);
}

.grid-container div {
    aspect-ratio: 1 / 1;
}

.highlighted {
    background-color: var(--square-color);
}